<%= s3_uploader_form callback_url: uploads_path,
                     callback_method: "POST",
                     callback_param: "upload[image_upload]",
                     key: "files/{timestamp}-{unique_id}-#{SecureRandom.hex}/${filename}",
                     key_starts_with: "files/",
                     acl: "public-read",
                     max_file_size: 50.megabytes,
                     id: "s3-uploader",
                     class: "upload-form" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
  <div id="file-{%=o.unique_id%}" class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>
