<% content_for :title, t(:inactive) %>
<% content_for :header, t(:inactive) %>
<% content_for :description, t(:inactive) %>

<div class="inner-content page">
  <h1>Välkommen</h1>
  När du har betalat avgiften kommer ditt medlemsskap bli aktiverat.
</div>
