<% content_for :title, @page.header %>

<div id="main-slider">
    <div class="flexslider">
       <ul class="slides">
        <% @page.images.each do |image| %>
        <li>
            <%= image_tag image %>
            <h1 class="flex-caption"><%= raw I18n.t(:home_text1).html_safe %></h1>
            <h1 class="flex-caption1"><%= raw I18n.t(:home_text2).html_safe %></h1>
        </li>
        <% end %>
      </ul>
    </div>
</div>

<% unless @page.empty_text? %>
  <div class="inner-content page">
    <%= raw @page.text.html_safe %>
  </div>
<% end %>


