<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= raw @letter.content %><br/>
    </p>
    <p>
      /<%= @letter.user.fullname %>
    </p>
  </body>
</html>
