<% content_for :title, @page.description %>
<% content_for :header, @page.title %>
<% content_for :description, @page.description %>

<div class="inner-content page">
  <%= raw @page.content.html_safe %>
</div>