<div class="head-title">
  <h1><%= @page.title %></h1>
  <div class="head-description">
    <p><%= @page.header.present? ? @page.header : @page.title %></p>
  </div>
</div>

<div class="inner-content page">
  <%= raw @page.content %>
</div>