<% content_for :title, @page.description %>
<% content_for :header, @page.title %>
<% content_for :description, @page.description %>

<div class="inner-content page">
  <h1><%= @page.title %></h1>
  <%= render 'shared/text', page: @page, key: 'content', default: 'Skriv sidan innehåll här' %>
</div>
