<div class="head-title">
  <h1><%= I18n.t(:my_page) %></h1>
  <div class="head-description">
    <p><%= I18n.t(:about_me) %></p>
  </div>
</div>

<div class="row main-content">
  <article class="headings">
    <h2><%= I18n.t(:about_me) %></h2>

    <br>



  </article>

</div>