<div class="outter-wrapper footer-wrapper">
  <div class="wrapper clearfix">
    <!-- Start Widget -->
    <div class="col-1-4 widget">
      <h3 class="widget-title">Contact Us</h3>
      <ul class="list-1">
        <li>
          <strong>Telephone Enquiry:</strong><br>
           +61 555 555 1234
        </li>
        <li>
          <strong>Facsimile:</strong><br>
          +61 555 555 1234
        </li>
        <li><a href="#">info@sports.com</a></li>
      </ul>
    </div>



    <!-- Start Widget -->
    <div class="col-1-4 widget">
      <h3 class="widget-title">Our Mission</h3>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus.</p>
    </div>



    <!-- Start Widget -->
    <div class="col-1-4 widget">
      <h3 class="widget-title">Club House Hours</h3>
      <ul class="open-hours">
        <li>Mondays <span>9am - 10pm</span></li>
        <li>Tue - Fri <span>9am - 9pm</span></li>
        <li>Sat - Sun <span>7am - 9pm</span></li>
        <li>Public Holidays <span>7am - 1am</span></li>
      </ul>
    </div>


    <!-- Start Widget -->
    <div class="col-1-4 widget last">
      <a class="logo" href="index.html">
        <img src="img/osfk.png" alt="Sport">
      </a>
      <ul class="list-1">
        <li>
            <strong>Address:</strong><br>
            310 Ashfield Ave, Suburbia, Brisbane, Australia, 4000
        </li>
        <li>
          <strong><a href="contact.html">View on Map</a></strong>
        </li>
      </ul>
    </div>
  </div>
</div>
