<% alert ||= flash[:alert] %>
<% info  ||= flash[:info] %>

<% if alert.present? %>
  <div class="error message">
    <p><%= alert %></p>
  </div>
<% elsif info.present? %>
  <div class="info message">
    <p><%= info %></p>
  </div>
<% end %>

<div class="message error">
  <em class="fa"></em> Error
</div>
